<div class="container">

    <form (ngSubmit)="guardar(formulario)" #formulario="ngForm">
        <label for="nombre">Nombre</label>
        <input [(ngModel)]="nombre" type="text" name="nombre" placeholder="Nombre">

        <label for="edad">Edad</label>
        <input [(ngModel)]="edad" type="number" name="edad" placeholder="Edad">

        <button class="btn btn-outline-primary" type="submit">ENVIAR</button>

    </form>

    <hr>

    <p>Persona</p>
    {{ formulario.value | json }}

    <div class="container main-container">
        <h3>Bromas aleatoria</h3>
        <hr>
        <button (click)="obtenerBroma()" type="button" class="btn btn-outline-success">Obtener broma</button>
        <p class="main-container">{{ broma | json }}</p>
    </div>

    <div class="container main-container">
        <h3>Nº Bromas</h3>
        <hr>
        <form (ngSubmit)="obtenerBromas(formularioBromas)" #formularioBromas="ngForm">
            <input [(ngModel)]="numeroBromas" name="numeroBromas" type="number" placeholder="Introduce un número de bromas">
            <button type="submit" class="btn btn-outline-primary">Obtener bromas</button>
            <p class="main-container">Aquí irán las bromas</p>
        </form>
    </div>

</div>